@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@layer utilities {
  .text-shadow-default {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .text-shadow-md {
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.button {
  @apply transition-all flex items-center text-white text-xl rounded-lg;
}

.button-padding {
  @apply px-6 py-2;
}

.line-animations:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: darkblue;
  transition: width 0.3s ease;
}

.line-animations:hover::before {
  width: 100%;
}
:disabled {
  @apply opacity-50 cursor-not-allowed;
}

@keyframes skeletonLoading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.skeleton {
  animation: skeletonLoading 1.5s infinite ease-in-out;
}